!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%p Bonjour,
		%p
			Vous avez récemment loué votre espace sur
			%strong Share Stockage.
		%p Nous espérons que tout s'est bien passé et que vous avez été pleinement satisfait par notre service.
		%p
			Si vous avez des remarques ou des suggestions à nous faire suite à votre expérience sur Share Stockage, n'hésitez pas à nous contacter à l'adresse suivante:
			= mail_to ENV["contact_email"], ENV["contact_email"]
		%p Par ailleurs, si vous souhaitez nous soutenir et nous aider à améliorer notre service, vous pouvez nous faire un don en cliquant sur le lien suivant:
		= link_to "Cliquer ici pour faire un don", @gift_url
		%p Nous vous remercions d'avoir choisi Share Stockage et espérons vous revoir bientôt sur notre site!
		%p
			Bien cordialement,
			%br
			= link_to "L'équipe de Share Stockage", root_url