!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%p Bonjour,
		%p
			Vous avez reçu un nouveau message de la part de
			= @sender.username
			sur
			%strong Share Stockage:
		%p= @body.gsub(/\n/,"<br/>").html_safe
		%p 
			Pour répondre à ce message, veuillez utiliser l'adresse suivante:
			= @sender.email 
		%p À bientôt sur notre site.
		%p
			Bien cordialement,
			%br
			= link_to "L'équipe de Share Stockage", root_url