!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%p
			Bonjour,
		%p
			Nous avons bien reçu votre demande de réservation d'un espace de stockage.
		%p
			= link_to "Voir l'annonce sur le site", @advert_url
		%p
			Votre demande de réservation a bien été envoyée au propriétaire de l'espace. Nous vous enverrons un mail de confirmation une fois que le propriétaire aura validée votre réservation afin que vous puissiez prendre directement contact avec lui.
		%p
			Bien cordialement,
			%br
			= link_to "L'équipe de Share Stockage", root_url