!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%p
			Bonjour,

		%p	
			Vous avez reçu une demande de réservation concernant votre annonce
			= @advert.title
			\.
		%p Vous pouvez l'accepter, l'annuler ou prendre contact avec la personne ayant fait cette demande.
		%p Pour ce faire, connectez-vous simplement à votre espace personnel en cliquant sur le lien ci-dessous:
		%p= link_to "Accéder à mon annonce", @url
		%br
		%p À bientôt sur Sharing Space.