!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%p
			Bonjour,
		%p
			Nous vous informons que certaines dates de préréservation concernant votre annonce
			= @advert.title
			ont été modifiées.
		%p
			Rendez-vous dès maintenant sur votre espace personnel pour prendre connaissance des changements et valider la réservation.
		%p= link_to "Me connecter à mon espace personnel", @url
		%br
		%p À bientôt sur Sharing Space.