!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%p Bonjour,
		%p
			Vous venez d'accepter une réservation pour votre annonce
			= @advert.title
			sur Share Stockage.
		%p Vous trouverez en pièce jointe un exemplaire du contrat de location à imprimer et à remplir.
		%p Il ne vous reste plus qu'à convenir d'un rendez-vous avec le locataire pour commencer à accueillir ses affaires!
		%p Nous vous remercions d'avoir choisi Share Stockage.
		%p
			Meilleures salutations,
			%br
			= link_to "Share Stockage", root_url