%section#main-content
	.row.body.sign-in
		.large-6.medium-8.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h2.subheader.text-center Vous y êtes presque!
						%br
						%br
						%p
							L'email vous permettant de réinitialiser votre mot de passe va vous parvenir d'ici peu de temps.
						%p
							Si rien ne vous parvient, pensez à consulter votre dossier de spam ou effectuez
							= link_to "une nouvelle demande.", new_user_password_path
						%p
							Vous pouvez maintenant fermer cette page.
						%br