%section#main-content
	.row.body.sign-in
		.large-6.medium-8.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h3.subheader.text-center Choisissez un nouveau mot de passe
						%hr
						%h6.subheader.text-center{ style: "font-size:90%" } Il ne vous reste plus qu'à choisir votre nouveau mot de passe et vous serez de nouveau connecté à votre compte.
						%br
						= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
							= f.hidden_field :reset_password_token
							= f.password_field :password, autofocus: true, autocomplete: "off", label: false, placeholder: "Nouveau mot de passe"

							= f.submit "Changer mon mot de passe", class: "button radius expand small"