!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%p
			Bonjour,
		%p	
			Vous avez reçu un nouveau message sur Share Stockage: "
			= @subject
			\".
		%p Rendez-vous sur votre messagerie personnelle pour consulter le message.
		%p= link_to "Accéder à mon compte", root_url
		%p
			Meilleures salutations,
			%br
			= link_to "Share Stockage", root_url