- content_for(:title, 'CGU')
%section#main-content
	.row
		.large-10.medium-10.small-12.columns.large-centered.medium-centered
			%h1 Conditions générales d'utilisation
			%hr
			.panel{ style: "background-color: white" }
				%h4{ style: "color:rgb(46, 121, 168)" } Objet et acceptation des présentes conditions générales d'utilisation
				%br
				%p
					Share Stockage est une plateforme web permettant la mise en relation d’utilisateurs ayant de l’espace disponible chez eux et d’autres souhaitant trouver un espace de stockage pour y stocker des biens.
				%p
					Share Stockage n’est partie à aucune transaction entre un utilisateur mettant à disposition son espace de stockage (le bailleur) et un utilisateur souhaitant louer cet espace de stockage (le locataire).
				%p
					Le contrat de Mise à disposition fourni par le site est directement conclu entre le bailleur et le locataire.
				%p
					Le rôle de Share Stockage se résume à développer et maintenir le site qui permet la mise en relation entre bailleur et locataire.
				%p
					En utilisant le site, l’utilisateur reconnaît avoir lu, compris et accepté les présentes conditions générales d’utilisation.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Description du site
				%br
				%h5 Description générale
				%br
				%p
					Le site Share Stockage est un service en ligne permettant aux utilisateurs de mettre en location ou de louer un espace à des fins de stockage de biens. Le site Share Stockage se contente de mettre en relation les personnes proposant un espace à la location et celles souhaitant louer un espace. Il n’intervient à aucun moment dans la transaction entre propriétaire et locataire. En conséquence, Share Stockage ne peut pas être considéré comme partie du contrat de location entre les membres du site.
				%p
					L’espace public du site permet la consultation des annonces présentes sur le site via le formulaire de recherche.
					L’espace privé, qui nécessite l’inscription gratuite au site, permet de poster une annonce, contacter le propriétaire d’une annonce, réserver un garde-meuble proposé sur le site, ou encore laisser une évaluation sur un box de stockage préalablement réservé.
				%br
				%h5 Fonctionnement
				%br
				%p
					L’inscription au site ne nécessite que de rensigner ses Nom et Prénom, une adresse email valide et un mot de passe.
				%p
					Une fois inscrit, le membre de Share Stockage peut mettre un box de stockage en location en remplissant le formulaire présent sur le site. Les informations renseignées doivent être exactes et aussi précises que possible. En particulier, l’adresse doit être exacte afin que le garde-meuble puisse être géolocalisé précisément.
				%p
					Quand vous avez trouvé l’espace de stockage qui vous convient, vous pouvez contacter le propriétaire si vous souhaitez obtenir plus d’informations ou faire une demande de pré-réservation pour celui-ci. Un email est alors envoyé au propriétaire pour l’en informer.
				%p
					Une fois la réservation acceptée par le propriétaire, propriétaire et locataire reçoivent chacun par email un exemplaire du contrat de location et sont ensuite chargés de prendre contact pour finaliser la transaction.
				%p
					Le locataire peut alors à tout moment laisser un commentaire, soumis à validation par le site, sur l’espace de stockage qu’il loue.
				
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Conditions d’inscription au site
				%br
				%p
					Pour s’inscrire sur Share Stockage, l’utilisateur doit être âgé de 18 ans ou plus, capable de souscrire à des actes juridiques selon le droit suisse, remplir avec exactitude les champs requis lors de l’inscription et la création de son annonce, et confirmer avoir lu, compris et accepté les présentes conditions générales d’utilisation.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Utilisation des données personnelles de l'utilisateur
				%br
				%p
					Share Stockage s’engage à ne pas utiliser ou transmettre les données personnelles de ses utilisateurs à un tiers.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Désinscription de l'utilisateur
				%br
				%p
					Tout utilisateur est libre de se désinscrire du site sauf si son box de stockage est loué ou s’il loue lui-même un garde-meuble au moment de la demande de désinscription.
				%p
					La désinscription sera alors possible une fois la réservation terminée.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Exclusion d’un utilisateur par Share Stockage
				%br
				%p
					Share Stockage se réserve le droit d’exclure définitivement un utilisateur s’il considère que ce dernier nuit d’une quelconque manière au bon fonctionnement du site.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Mise en ligne d'un garde-meuble sur Share Stockage
				%br
				%p
					Tout utilisateur inscrit sur le site peut proposer un garde-meuble à louer en remplissant avec exactitude le formulaire de création d'une annonce disponible sur le site.
				%p
					Les photographies doivent correspondre à l'espace de stockage et doivent donc être personnelles. Elles ne peuvent provenir d'un site web ou de tout autre provenance.
				%p
					La mise en ligne d'une annonce est soumise à validation par le site.
				%p
					L'utilisateur peut à tout moment modifier, activer, désactiver ou supprimer son annonce. Dans ce dernier cas, l'utilisateur devra s'assurer au préalable qu'aucune demande de réservation n'existe pour son espace et que l'espace n'est pas loué au moment de la suppression. Dans le cas contraire, la suppression ne sera pas possible.
				%p
					Share Stockage se réserve le droit de modifier ou supprimer des informations fournies par l'utilisateur considérées comme inexactes ou inappropriées.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" }	Limite de responsabilité de Share Stockage
				%br
				%p
					Les annonces présentes sur le site sont publiées par des personnes n’ayant aucun lien avec Share Stockage. De ce fait, Share Stockage ne peut être tenu responsable du contenu de ces annonces.
				%p
					Par ailleurs, en utilisant le service de Share Stockage, l’utilisateur reconnaît que Share Stockage est déchargé d’une part de toute responsabilité concernant les documents fournis sur le site, et d’autre part concernant tout préjudice qui surviendrait durant l’exécution du contrat entre utilisateurs. L’utilisateur renonce à tout recours à l’encontre de Share Stockage.
				%p
					Il est conseillé aux utilisateurs de prendre contact avec leur assurance responsabilité civile pour connaître l’étendue de leur couverture dans le cadre d’une location d’espace de stockage réalisée sur le site.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" }	Objets non autorisés
				%br
				%p
					Les objets interdits au stockage sont les objets volés, illicites, inflammables, périssables, explosifs, toxiques, radioactifs, contaminants ou vivants.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" }	Paiement
				%br
				%p
					Share Stockage est un service entièrement gratuit et se contente de mettre en relation des propriétaires et des locataires.
				%p
					Share Stockage n’est partie à aucune transaction entre un utilisateur mettant à disposition son espace (le bailleur) et un utilisateur souhaitant louer cet espace (le locataire).
				%p
					Par conséquent, le règlement de la location s'effectue directement entre les utilisateurs selon les modalités qu'ils auront définies entre eux.
				%p
					Share Stockage ne pourra en aucun cas être tenu responsable pour un quelconque litige entre les différentes parties d'une transaction. L'utilisateur renonce à tout recours à l’encontre de Share Stockage.
				/ %p
				/ 	Sauf en cas de réservation, l'accès au site et son utilisation sont entièrement gratuits.
				/ %p
				/ 	Lorsque vous réservez un espace, Share Stockage a droit à des honoraires définis comme une commission de 8% du montant total de la transaction minorée à CHF 0.50.
				/ %p
				/ 	Ces frais sont payés par le locataire au moment de la réservation via une plateforme sécurisée. L'utilisateur n'est débité qu'au moment de la validation de la réservation par le propriétaire. En cas d'annulation par le propriétaire, rien n'est facturé au locataire. Ces frais sont automatiquement déduits du montant dû au propriétaire.
				/ %p
				/ 	Une fois que la réservation a été acceptée, vous recevez les coordonnées de l'utilisateur (propriétaire ou locataire). Le paiement de la location s'effectue alors directement entre utilisateurs. Share Stockage ne prend en aucun cas partie au règlement du paiement.
				/ %p
				/ 	En tant qu'utilisateur responsable de la mise en ligne d'une annonce faisant l'objet d'une transaction, vous acceptez que Share Stockage prélève une commission sur le montant payé par l'utilisateur pour la location de votre espace.
				/ %p
				/ 	En tant qu'utilisateur ayant effectué une demande de réservation, vous acceptez de payer pour tous les services de Share Stockage auxquels vous accédez à travers votre compte, indépendamment du fait que cet accès soit votre propre fait ou celui d’un tiers. Il vous appartient de vous assurer de la confidentialité de votre mot de passe et d'en empêcher une utilisation abusive. En cas d'abus ou soupçon d'abus, il est de votre responsabilité de nous en informer sans délai afin que nous puissions bloquer votre compte. En conséquence, vous vous engagez à indemniser Share Stockage pour tous les coûts ou frais résultant de ou liés à l’utilisation abusive de votre compte.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Impôts
				%br
				%p
					Il appartient aux utilisateurs du site de payer les impôts et autres taxes en relation avec la mise à disposition d’un espace.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Modification des conditions générales d'utilisation
				%br
				%p
					Nous nous réservons le droit de modifier les présentes conditions générales d’utilisation sans préavis.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Cessation d'activité
				%br
				%p
					Nous nous réservons le droit de mettre fin à notre activité à tout moment.

			= link_to "Retour à l'accueil", root_path, class: "button radius expand"