%section#main-content
	.row
		.large-10.medium-10.small-12.columns.large-centered.medium-centered
			%h1 Conditions générales d'utilisation
			%hr
			.panel{ style: "background-color: white" }
				%h4{ style: "color:rgb(46, 121, 168)" } Objet et acceptation des présentes conditions générales d'utilisation
				%br
				%p
					Share Stockage est une plateforme web permettant la mise en relation d’utilisateurs ayant de l’espace disponible chez eux et d’autres souhaitant trouver de l’espace pour y stocker des biens.
				%p
					Share Stockage n’est partie à aucune transaction entre un utilisateur mettant à disposition son espace (le bailleur) et un utilisateur souhaitant louer cet espace (le locataire).
				%p
					Le contrat de Mise à disposition fourni par le site est directement conclu entre le bailleur et le locataire.
				%p
					Le rôle de Share Stockage se résume à développer et maintenir le site qui permet la mise en relation entre bailleur et locataire.
				%p
					En utilisant le site, l’utilisateur reconnaît avoir lu, compris et accepté les présentes conditions générales d’utilisation.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Description du site
				%br
				%h5 Description générale
				%br
				%p
					Le site Share Stockage est un service en ligne gratuit permettant aux utilisateurs de mettre en location ou de louer un espace à des fins de stockage de biens. Le site Share Stockage se contente de mettre en relation les personnes mettant un espace à la location et celles souhaitant louer un espace. Il n’intervient à aucun moment dans la transaction entre propriétaire et locataire. De plus, le site ne perçoit aucune commission. En conséquence, Share Stockage ne peut pas être considéré comme partie du contrat de location entre les membres du site.
				%p
					L’espace public du site permet la consultation des annonces présentes sur le site via le formulaire de recherche.
					L’espace privé, qui nécessite l’inscription gratuite au site, permet de poster une annonce, contacter le propriétaire d’une annonce, réserver un espace présent sur le site, ou encore laisser une évaluation sur un espace préalablement réservé.
				%br
				%h5 Fonctionnement
				%br
				%p
					L’inscription au site ne nécessite que le choix d’un nom d’utilisateur, une adresse email valide et un mot de passe.
				%p
					Une fois inscrit, le membre de Share Stockage peut mettre un espace en location en remplissant le formulaire présent sur le site. Les informations renseignées doivent être exactes et aussi précises que possible. En particulier, l’adresse doit être exacte afin que l’espace puisse être géolocalisé précisément.
				%p
					Quand vous avez trouvé l’espace qui vous convient, vous pouvez contacter le propriétaire si vous souhaitez obtenir plus d’informations ou faire une demande de pré-réservation pour celui-ci. Un email est alors envoyé au propriétaire pour l’en informer.
				%p
					Une fois la réservation acceptée par le propriétaire, propriétaire et locataire reçoivent chacun par email un exemplaire du contrat de location et sont ensuite chargés de prendre contact pour finaliser la transaction.
				%p
					Le locataire peut alors à tout moment laisser un commentaire, soumis à validation par le site, sur l’espace qu’il loue.
				
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Conditions d’inscription au site
				%br
				%p
					Pour s’inscrire sur Share Stockage, l’utilisateur doit être âgé de 18 ans ou plus, capable de souscrire à des actes juridiques selon le droit suisse, remplir avec exactitude les champs requis lors de l’inscription et la création de son annonce, et confirmer avoir lu, compris et accepter les présentes conditions générales d’utilisation.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Utilisation des données personnelles de l'utilisateur
				%br
				%p
					Share Stockage s’engage à ne pas utiliser ou transmettre les données personnelles de ses utilisateurs à un tiers.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Désinscription de l'utilisateur
				%br
				%p
					Tout utilisateur est libre de se désinscrire du site sauf si son espace est loué ou s’il loue lui-même un espace au moment de la demande de désinscription.
				%p
					La désinscription sera alors possible une fois la réservation terminée.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Exclusion d’un utilisateur par Share Stockage
				%br
				%p
					Share Stockage se réserve le droit d’exclure définitivement un utilisateur s’il considère que ce dernier nuit d’une quelconque manière au bon fonctionnement du site.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Mise en ligne d'un espace sur Share Stockage
				%br
				%p
					Tout utilisateur inscrit sur le site peut mettre un espace à louer en remplissant avec exactitude le formulaire de création d'une annonce disponible sur le site.
				%p
					Les photographies doivent correspondre à l'espace à louer et doivent donc être personnelles. Elles ne peuvent provenir d'un site web ou de tout autre provenance.
				%p
					La mise en ligne d'une annonce est soumise à validation par le site.
				%p
					L'utilisateur peut à tout moment modifier, activer, désactiver ou supprimer son annonce. Dans ce dernier cas, l'utilisateur devra s'assurer au préalable qu'aucune demande de réservation n'existe pour son espace et que l'espace n'est pas loué au moment de la suppression. Dans le cas contraire, la suppression ne sera pas possible.
				%p
					Share Stockage se réserve le droit de modifier ou supprimer des informations fournies par l'utilisateur considérées comme inexactes ou inappropriées.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" }	Limite de responsabilité de Share Stockage
				%br
				%p
					Les annonces présentes sur le site sont publiées par des personnes n’ayant aucun lien avec Share Stockage. De ce fait, Share Stockage ne peut être tenu responsable du contenu de ces annonces.
				%p
					Par ailleurs, en utilisant le service de Share Stockage, l’utilisateur reconnaît que Share Stockage est déchargé d’une part de toute responsabilité concernant les documents fournis sur le site, et d’autre part concernant tout préjudice qui surviendrait durant l’exécution du contrat entre utilisateurs. L’utilisateur renonce à tout recours à l’encontre de Share Stockage.
				%p
					Il est conseillé aux utilisateurs de prendre contact avec leur assurance responsabilité civile pour connaître l’étendue de leur couverture dans le cadre d’une location d’espace réalisée sur le site.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" }	Objets non autorisés
				%br
				%p
					Les objets interdits au stockage sont les objets volés, illicites, inflammables, périssables, explosifs, toxiques, radioactifs, contaminants ou vivants.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" }	Paiement de la location
				%br
				%p
					Share Stockage est un service entièrement gratuit permettant la mise en relation de ses utilisateurs.
				%p
					Share Stockage n’intervient en aucune façon dans le processus de paiement entre les différentes parties.
				%p
					Share Stockage ne pourra donc pas être tenu responsable d’un quelconque litige concernant le paiement de
					la location.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Impôts
				%br
				%p
					Il appartient aux utilisateurs du site de payer les impôts et autres taxes en relation avec la mise à disposition d’un espace.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Modification des conditions générales d'utilisation
				%br
				%p
					Nous nous réservons le droit de modifier les présentes conditions générales d’utilisation sans préavis.

				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Cessation d'activité
				%br
				%p
					Nous nous réservons le droit de mettre fin à notre activité à tout moment.

			= link_to "Retour à l'accueil", root_path, class: "button radius expand"