%section#main-content
	.row
		.large-10.medium-10.small-12.columns.large-centered.medium-centered
			%h1 FAQ - Share Stockage
			%hr
			.panel{ style: "background-color: white" }
				%h3 Général
				%hr
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Share Stockage, c'est quoi?
				%br
				%p
					Vous disposez d'un espace non utilisé chez vous? Une cave, un garage, un grenier ou autre?
					Share Stockage vous permet de
					%strong louer cet espace gratuitement
					à des particuliers.
				%p
					Vous déménagez? Partez vivre ou faire un stage à l'étranger? Recherchez une place de stationnement? Consultez les annonces sur le site pour trouver l'espace qui vous convient à proximité de chez vous.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Comment m'inscrire sur Share Stockage?
				%br
				%p 
					Cliquez simplement sur le lien "Inscription" situé dans le menu en haut à droite et remplissez le formulaire.
					%strong L'inscription est gratuite
					et vos informations personnelles restent confidentielles.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Comment déposer une annonce sur Share Stockage?
				%br
				%p 
					Cliquez sur le lien "Publier une annonce" situé dans le menu en haut à droite et remplissez le formulaire.
					%strong La publication d'annonce est gratuite
					et vous pouvez ajouter jusqu'à 3 photos.
				
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Qui peut déposer une annonce sur Share Stockage?
				%br
				%p 
					Toute personne âgée de 18 ans ou plus et disposant d'un espace chez lui. Si vous êtes locataire et non propriétaire de l'espace que vous louez, veuillez en informer le propriétaire ou votre régie en utilisant 
					= link_to "le modèle de lettre", 'files/lettre_agence_model.pdf', target: '_blank' 
					que nous mettons gratuitement à votre disposition sur le site.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Quel type d'espace peut-on mettre en location?
				%br
				%p
					Les caves, les garages, les parkings sont sans doute les espaces les plus fréquents. Mais les greniers, les hangars, ateliers, débarras ou tout autre espace disponible peut être mis en location. N'hésitez pas à nous contacter pour ajouter un type d'espace à la liste que nous proposons.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Comment sont calculés les tarifs?
				%br
				%p
					La personne mettant son espace en location est libre de choisir le prix de son espace. Le tarif total est alors calculé en fonction de la durée de la location.
					
			%br
			.panel{ style: "background-color: white" }
				%h3 Mon compte
				%hr
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } À quoi sert mon compte?
				%br
				%p
					Votre compte vous permet de créer et gérer vos annonces et vos réservations. Il vous permet également de prendre contact avec des annonceurs via la messagerie interne du site.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Mes informations personnelles sont-elles visibles par les autres utilisateurs?
				%br
				%p
					Toutes vos informations personnelles sont strictement confidentielles. Seul votre nom d'utilisateur apparaît sur la page de vos annonces ou si vous laissez un commentaire sur une annonce.
				%p
					Vos informations ne sont connues par l'autre parti (propriétaire ou locataire) qu'une fois que l'accord a été trouvé et la réservation validée.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Que faire si j'ai oublié mon mot de passe?
				%br
				%p
					Rendez-vous simplement sur la page de connexion et cliquez sur "Mot de passe oublié?". Renseignez alors votre email puis cliquez sur "Valider".
				%p
					Toutes les instructions nécessaires à la réinitialisation de votre mot de passe vous seront envoyées par email. Pensez à vérifier vos courriers indésirables si rien ne vous parvient!
					
			%br
			.panel{ style: "background-color: white" }
				%h3 Mes annonces
				%hr
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Comment déposer une annonce sur Share Stockage?
				%br
				%p
					Pour déposer une annonce sur Share Stockage, vous devez commencer par vous connecter ou vous inscrire si ce n’est pas déjà fait.
				%p
					Ensuite, rendez-vous sur la page d’accueil du site puis cliquez sur “Publier une annonce” dans le menu en haut à droite.
				%p
					Remplissez alors le formulaire en y ajoutant une description aussi précise que possible. Vous pouvez ensuite ajouter une ou plusieurs photos à votre annonce.
				%p Enfin, validez et patientez jusqu’à ce que nous ayons approuvé votre annonce.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Comment modifier/supprimer/activer/désactiver mon annonce?
				%br
				%p
					Depuis la page d’accueil, cliquez sur “Mon compte” dans le menu en haut à droite.
					Choisissez ensuite l'"Espace propriétaire".
				%p
					Vous trouverez la liste de toutes vos annonces dans laquelle vous pouvez modifier, activer/désactiver ou supprimer votre annonce en cliquant sur le lien correspondant.
				%p
					Attention toutefois, la suppression de votre annonce n'est possible que si certaines conditions sont remplies.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Quand puis-je supprimer mon annonce?
				%br
				%p
					Une annonce ne peut être supprimée que par son propriétaire et si:
					%ul
						%li L'espace n'est pas loué au moment où vous souhaitez supprimer l'annonce. Si ce n'est pas le cas, vous devrez patienter jusqu'à la fin de ladite réservation.
						%li Aucune demande de réservation n'existe pour votre espace. Dans le cas contraire, vous devrez vous assurer de refuser au préalable la demande de réservation.
					
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Combien de temps puis-je louer mon espace?
				%br
				%p
					Vous êtes libre de louer votre espace aussi longtemps que vous le souhaitez. Aucune restriction n’existe à ce niveau là.
				
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Quel prix pour mon espace?
				%br
				%p
					En tant que propriétaire, vous êtes libre de choisir le prix de votre location. Si vous êtes locataire, commencez par informer votre régie ou votre propriétaire que vous souhaitez louer votre espace en utilisant 
					= link_to "le modèle de lettre", '/files/lettre_agence_model.pdf', target: '_blank' 
					que nous mettons à votre disposition.
				%p
					Ensuite, voyez avec eux ce que vous êtes en mesure d’appliquer comme tarif.
				
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Comment ajouter des photos à mon annonce?
				%br
				%p
					Lorsque vous créez votre annonce, la dernière étape vous permet d’ajouter des photos à votre annonce.
				%p
					Vous pouvez cliquer sur la zone prévue à cet effet ou y glisser-déposer vos photos directement.
				%p
					Vous pouvez ajouter jusqu’à 3 photos par annonce.
				
			%br
			.panel{ style: "background-color: white" }
				%h3 Paiements
				%hr
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Le paiement se fait-il sur le site?
				%br
				%p Share Stockage est un servie entièrement gratuit visant à mettre en relation propriétaires d'espace et locataires potentiels.
				%p En conséquence, le site n'intervient pas dans le processus de paiement entre les parties et n'offre pour le moment pas la possibilité de payer en ligne.
				
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Comment payer/être payé?
				%br
				%p Le règlement se fait directement entre les parties lors de la signature du contrat.
				
			%br
			.panel{ style: "background-color: white" }
				%h3 Prise de contact
				%hr
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Comment contacter le propriétaire d'une annonce?
				%br
				%p
					Pour contacter le propriétaire d’une annonce, rendez-vous sur la page de l’annonce qui vous intéresse.
				%p
					Vous y trouverez à droite un bouton “Contacter le propriétaire”. Cliquez dessus puis remplissez le formulaire qui vous est proposé.
				%p
					Le contenu sera alors envoyé au propriétaire via la messagerie interne du site.
				
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Que faire quand je reçois une demande de location?
				%br
				%p
					Quand une demande de pré-réservation a été effectuée pour votre annonce, nous vous envoyons un mail pour vous en informer. Ce mail contient un lien vous redirigeant automatiquement vers votre compte sur le site.
				%p
					Depuis votre compte, vous pouvez consulter vos demandes de réservation en attente. Vous avez alors le choix d’accepter ou de refuser.
				%p
					En cas d’accord, le locataire et vous recevez chacun par email un exemplaire du contrat de location. Vous devez ensuite prendre contact avec le locataire pour finaliser la transaction.
				%p
					En cas de refus, un mail est envoyé au demandeur pour l’en informer et la réservation est annulée.
				
				%br
				%h4{ style: "color:rgb(46, 121, 168)" } Comment recevoir les coordonnées d'un propriétaire ou d'un locataire?
				%br
				%p
					Une fois qu’un accord a été trouvé entre les 2 parties, c’est-à-dire que la réservation a été validée par le propriétaire, les 2 parties reçoivent un exemplaire du contrat de location sur lequel figurent les informations du propriétaire et du locataire.

			= link_to "Retour à l'accueil", root_path, class: "button radius expand"