%section#main-content
	.row
		.large-8.medium-10.small-12.columns.large-centered.medium-centered
			%h1 Comment ça marche?
			%hr
			
			.panel{ style: "background-color: white" }	
				%h3{ style: "color:rgb(210, 63, 47)" } Vous proposez un espace?
				%hr
				%br
				%h4{ style: "color:rgb(210, 63, 47)" }
					%i.fa.fa-edit
					Créez votre annonce
				%br
				%p 
					Pour proposer votre espace, il vous suffit de créer gratuitement votre compte sur Share Stockage puis de vous rendre sur la page "Publier une annonce" en cliquant sur le lien situé dans le menu en haut à droite.
				%p
					Remplissez alors le formulaire qui vous est proposé puis activez votre annonce. Celle-ci apparaîtra sur le site une fois validée par Share Stockage.
				
				%br
				%h4{ style: "color:rgb(210, 63, 47)" }
					%i.fa.fa-comments
					Communiquez
				%br
				%p
					Répondez aux demandes de renseignements que vous envoient les utilisateurs depuis la messagerie interne du site.
				%p
					Rendez-vous dans la rubrique "Mon compte" puis "Messagerie" pour consulter vos messages et y répondre.
				
				%br
				%h4{ style: "color:rgb(210, 63, 47)" }
					%i.fa.fa-check
					Validez
				%br
				%p
					Pour valider une demande de réservation de votre espace, rendez-vous d'abord dans votre compte depuis le menu en haut à droite puis choisissez l'"Espace propriétaire".
				%p
					Vous y trouverez la liste de vos annonces et l'accès aux réservations de celles-ci. Il vous suffit alors de sélectionner la réservation de votre choix depuis la liste des réservations puis de cliquer sur "Valider".
				%p
					Vous recevrez par email un exemplaire du contrat de location ainsi que les coordonnées de votre locataire.
				%p
					Prenez contact avec lui pour convenir d'un rendez-vous.
				
				%br
				%h4{ style: "color:rgb(210, 63, 47)" }
					%i.fa.fa-home
					Accueillez
				%br
				%p
					Faites l'inventaire, l'état des lieux et signez le contrat avec le locataire. Obtenez de bonnes appréciations pour augmenter vos chances de relouer!
				
			%br
			
			.panel{ style: "background-color: white" }
				%h3{ style: "color:rgb(84, 151, 86)" } Vous cherchez un espace?
				%hr
				%br
				%h4{ style: "color:rgb(84, 151, 86)" }
					%i.fa.fa-search
					Cherchez un espace
				%br
				%p
					Pour trouver un espace de stockage, il vous suffit de choisir le lieu et les dates qui vous intéressent directement depuis la page d'accueil du site, puis de choisir l'espace qui vous convient le mieux!
				%p
					Vous devrez créer un compte gratuitement sur le site pour prendre contact avec un annonceur ou effectuer une demande de réservation.
				
				%br
				%h4{ style: "color:rgb(84, 151, 86)" }
					%i.fa.fa-envelope
					Contactez le propriétaire
				%br
				%p
					Si des informations vous manquent, contactez directement le propriétaire en vous rendant sur l'annonce de votre choix puis en cliquant sur "Contacter le propriétaire".
				
				%br
				%h4{ style: "color:rgb(84, 151, 86)" }
					%i.fa.fa-book
					Réservez l'espace
				%br
				%p
					Votre choix est fait, envoyez une demande de réservation au propriétaire.
				
				%br
				%h4{ style: "color:rgb(84, 151, 86)" }
					%i.fa.fa-suitcase
					Déposez vos affaires
				%br
				%p
					Faites l'inventaire, l'état des lieux et signez le contrat avec le propriétaire.
				%p
					Vous pouvez également laisser un commentaire sur l'espace en vous rendant sur la page de l'annonce. Ceci a pour but d'instaurer un climat de confiance sur le site. On compte sur vous!

			= link_to "Retour à l'accueil", root_path, class: "button radius expand"