%section#main-content
	.row
		.large-8.medium-10.small-12.columns.large-centered.medium-centered
			%h1 Comment ça marche?
			%hr
			
			.panel{ style: "background-color: white" }	
				%h3{ style: "color:rgb(210, 63, 47)" } Vous proposez un espace?
				%hr
				%br
				%h4{ style: "color:rgb(210, 63, 47)" }
					%i.fa.fa-edit
					Créez votre annonce
				%br
				%p 
					Pour proposer votre espace, créez gratuitement votre compte sur Toque et Stocke puis rendez-vous sur la page "Publier une annonce" en cliquant sur le lien situé dans le menu en haut à droite.
				%p
					Remplissez alors le formulaire qui vous est proposé. Votre annonce apparaît sur le site une fois validée par l'équipe de Toque et Stocke.
				
				%br
				%h4{ style: "color:rgb(210, 63, 47)" }
					%i.fa.fa-comments
					Communiquez
				%br
				%p
					Répondez aux demandes de renseignements que vous envoient les utilisateurs directement sur votre boîte mail.
				%p
					Rendez-vous alors dans la rubrique "Mon compte" situé dans le menu en haut à droite.
				%p
					Vous y trouverez les demandes de location en attente. Il vous suffit de cliquer sur le lien "Contacter" pour envoyer un message à l'utilisateur.
				
				%br
				%h4{ style: "color:rgb(210, 63, 47)" }
					%i.fa.fa-check
					Validez
				%br
				%p
					Pour valider une demande de réservation, consultez les réservations en attente de votre annonce puis cliquez sur "Accepter".
				%p
					Vous recevrez par email un exemplaire du contrat de location ainsi que les coordonnées de votre locataire.
				%p
					Prenez contact avec lui pour convenir d'un rendez-vous.
				
				%br
				%h4{ style: "color:rgb(210, 63, 47)" }
					%i.fa.fa-home
					Accueillez
				%br
				%p
					Faites l'inventaire, l'état des lieux et signez le contrat avec le locataire. Vous recevrez vos paiements mensuellement. Obtenez de bonnes appréciations pour augmenter vos chances de relouer!
				
			%br
			
			.panel{ style: "background-color: white" }
				%h3{ style: "color:rgb(84, 151, 86)" } Vous cherchez un espace?
				%hr
				%br
				%h4{ style: "color:rgb(84, 151, 86)" }
					%i.fa.fa-search
					Cherchez un espace
				%br
				%p 
					Entrez le lieu et les dates qui vous intéressent puis choisissez l'espace qui vous convient le mieux!
				%p
					Vous devrez créer un compte sur le site pour prendre contact avec un annonceur ou effectuer une demande de réservation.
				
				%br
				%h4{ style: "color:rgb(84, 151, 86)" }
					%i.fa.fa-envelope
					Contactez le propriétaire
				%br
				%p
					Si des informations vous manquent, contactez directement le propriétaire en vous rendant sur l'annonce de votre choix puis en cliquant sur "Contacter le propriétaire".
				
				%br
				%h4{ style: "color:rgb(84, 151, 86)" }
					%i.fa.fa-book
					Réservez l'espace
				%br
				%p
					Votre choix est fait, envoyez une demande de réservation au propriétaire. Rien ne vous sera facturé tant que celle-ci n'aura pas été validée.
				
				%br
				%h4{ style: "color:rgb(84, 151, 86)" }
					%i.fa.fa-suitcase
					Déposez vos affaires
				%br
				%p
					Faites l'inventaire, l'état des lieux et signez le contrat avec le propriétaire.
				%p
					Vous pouvez également donner votre avis sur l'espace en vous rendant sur la page de l'annonce. Ceci a pour but d'instaurer un climat de confiance sur le site. On compte sur vous!