<section id="main-content">
	<div class="row">
		<div class="large-10 medium-10 small-12 columns large-centered medium-centered">
		<div class="panel" style="background-color: white">
			<h3>Confirmation de votre inscription</h3>
			<hr />
			<br />
			<p>Votre inscription à <strong>Share Stockage</strong> a bien été prise en compte.</p>
			<p>Un email de confirmation vous sera envoyé dans les prochaines minutes.<br /> Veuillez cliquer sur le lien contenu dans cet email pour valider votre compte.</p>
			<p>Si aucun message ne vous est parvenu, pensez à consulter vos couriers indésirables.</p>
			<p>À bientôt sur Share Stockage!</p>
		</div>
		</div>
	</div>
</section>
				