%section#main-content
	.row
		.large-10.medium-10.small-12.columns.large-centered.medium-centered
		.panel{ style: "background-color: white" }
			%h3 Confirmation de votre inscription
			%hr
			%br
			%p
				Votre inscription à
				%strong Toque et Stocke
				a bien été prise en compte.
			%p
				Un email de confirmation vous sera envoyé dans les prochaines minutes.
				%br
				Veuillez cliquer sur le lien contenu dans cet email pour valider votre compte.
			%p Si aucun message ne vous est parvenu, pensez à consulter vos couriers indésirables.
			%p À bientôt sur Toque et Stocke!
				