%section#main-content
	.row.body.sign-in
		.large-10.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h1 Annulation de la réservation
						%hr
						%h6
							%i.fa.fa-info-circle
							\ Vous êtes sur le point d'annuler la réservation. Cette action est irréversible.
						%br
						%h4 Récapitulatif de la demande
						%br
						%h5 Votre annonce:
						%table#adverts_table
							%tbody
								%tr
									= render partial: 'adverts/advert_line', locals: { advert: @advert }
						
						= render partial: 'details', locals: { reservation: @reservation }

						%h6 Êtes-vous sûr de vouloir annuler définitevement la demande de réservation?
						%br
						.row
							.small-6.large-6.columns
								= link_to "Cliquez ici pour annuler la réservation", advert_reservation_path(@advert, @reservation), method: :delete, class: "button radius expand alert"
							.small-6.large-6.columns
								= link_to "Annuler", edit_advert_path(@advert), class: "button radius expand"