#calendar
%ul.legend
	%li
		%span.legend_free
		Libre
	%li
		%span.legend_occupied
		Réservé
	%li
		%span.legend_pending
		Pré-réservé
	%li
		%span.legend_unavailable
		Indisponible

- content_for :scripts do
	:javascript
		$('#calendar').fullCalendar({
			lang: 'fr',
			eventSources: [
				{
					url: '/garde-meuble/#{@advert.id}/reservations.json'
				},
				{
					url: '/garde-meuble/#{@advert.id}/reservations/pending.json',
					color: 'orange',
					textColor: 'black'
				},
				{
					url: '/garde-meuble/#{@advert.id}/unavailable_dates.json',
					color: 'red',
					textColor: 'white'
				}
			]
		});