#calendar
%ul.legend
	%li
		%span.legend_free
		Libre
	%li
		%span.legend_occupied
		Réservé
	%li
		%span.legend_pending
		Pré-réservé
	%li
		%span.legend_unavailable
		Indisponible

- content_for :scripts do
	:javascript
		$('#date_tab').on('click', function() {
			$('#calendar').fullCalendar({
				lang: 'fr',
		    eventSources: [
		        {
		            url: '/adverts/#{@advert.id}/reservations.json'
		        },
						{
		            url: '/adverts/#{@advert.id}/reservations/pending.json',
		            color: 'orange',
		            textColor: 'black'
						},
						{
								url: '/adverts/#{@advert.id}/unavailable_dates.json',
								color: 'red',
								textColor: 'white'
						}
		    ]
			});
		});