%section#main-content
	.row.body.sign-in
		.large-10.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h1 Proposez votre espace
						%hr

						= form_for @advert, url: adverts_path, method: :post, html: { multipart: true } do |f|
							= render partial: 'form', locals: { f: f }
							.row
								.lrage-6.medium-6.small-12.columns
									= f.submit "Soumettre mon annonce", class: "button radius expand"