- content_for(:title, 'Photos')
%section{ style: "background-color: rgb(246,247,250)" }
	.row
		.small-10.columns.small-centered
			%h2{ style: "color: rgb(62,65,73); font-weight: bold; padding-top: 30px" } Ajouter des images à votre annonce
			%em{ style: "color:red; font-size: 80%" } 
				Vous pouvez ajouter 3 photos au plus sur votre annonce.
				%br
				La taille maximale pour une photo est de 3 Mo.

			#picture_advert{advert_id: @advert.id, data_present: @advert.pictures.count > 0 ? 1 : 0}
				= form_for @picture, url: advert_pictures_path(@advert), html: { multipart: true, class: "dropzone", id: "new-picture" } do |f|
					.fallback
						= f.file_field :image
						= f.submit "Ajouter"
			%br
			= link_to "J'ai terminé", owner_space_users_path, class: "button radius expand"