%section#main-content
	.row.body.sign-in
		.large-10.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h1 Merci pour votre réservation
						%hr
						%h6
							Votre demande de réservation a bien été envoyée au propriétaire de l'espace.
						%br
						%h6
							Un email de confirmation vous a été envoyé et vous serez informé par email dès que le propriétaire aura validé votre réservation.
						%br
						%h6
							Vous pouvez dès à présent consulter votre demande depuis la rubrique "Mon compte" > "Espace locataire".
						%br
						%h6
							Nous vous remercions pour votre confiance.
						%br

						= link_to "Retour à l'accueil", root_url, class: "button radius expand"