/* Footer section */

footer {
	margin-top: 20px;
  background-color: rgb(25,61,83);
  padding: 20px 0 20px 0;
}

footer h4, p {
	color: #fff;
}

footer p {
	font-size: 80%;
}

footer .section {
	border-left: 1px solid rgb(55, 93, 113);
	border-right: 1px solid rgb(55, 93, 113);
}

footer .section:last-child {
	border-left:0;
	border-right: 0;
}

footer .section:first-child {
	border-left:0;
	border-right: 0;
}
 
.copyright-section {
    background-color: #333;
    color: #fff;
    padding: 20px 0 0 0;
}


/* Formulaire de recherche page d'accueil */

.home_page_panel {
  text-align: center; 
  border:none;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 10%;
  margin-bottom: 10%;
}

.home_page_panel h1, .home_page_panel h3 {
  color: white;
  font-weight: bold;
}

.index-header-panel {
	background-color: rgba(0, 0, 0, 0.5); 	
	border: 0;
}

.index-header-panel h1 {
	color: white;
}

.index-header-panel h3 {
	color: white;
}
/*.tabs dd > a {display:block;background:#fff;color:#333;padding:.5em 1.5em .5em 1.5em;font-size:.9em;float:left;border-bottom:1px solid #ddd}
.tabs dd > a span.icon {color:#999;font-style:normal;padding-right:5%;float:left;}
.tabs dd.active a:hover span.icon {color:#fa5051;}
.tabs dd > a:hover {color:#316CFA;background-color:#fff;}
.tabs dd.active a {border-top:1px solid #316CFA;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:0;}
.tabs dd.active a:hover {color:#316CFA;}*/

#homepage-hero {
	background-image: asset_url('sharing_space_header.png');
	background-size: cover;
}

#main-content {
	margin-top: 30px;
}

.main-content {
	margin-top: 30px;
}

/* Calendar navigation button */

.fc-right button:hover {
	background-color: inherit;
	color: inherit;
}

/* Legend for Advert calendar */

.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid black; float: left; width: 6em; height: 1em; margin: 2px; }
.legend .legend_free { background-color: white; }
.legend .legend_occupied { background-color: rgb(61,116,154); }
.legend_pending { background-color: rgb(238,150,40); }
.legend_unavailable { background-color: red; }

#map img { max-width:none; }
.map_panel { background-color: white; padding:0; }

footer a {
	color: rgb(255,255,246);
}

footer a:hover {
	color: rgb(255,255,246);
}

footer a:visited {
	color: rgb(255,255,246);
}

label.required:after {
  content: " *";
  color: red;
}

tr[data-link] {
  cursor: pointer;
}

#adverts_table {
  width: 100%;
  border-collapse: collapse;
}

#adverts_table .image_cell {
  padding-left: 0; 
  width: 200px;
}

#adverts_table tr {
  background-color: white;
  border-bottom: 1px solid #D5D5D5;
  margin-bottom: 10px;
}

#adverts_table tr:hover {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: rgb(155,200,224);
}

tr.adverts_action_line:hover {
  border-top-style: none !important;
  border-bottom-style: none !important;
  border-width: none !important;
  border-color: none !important;
}

.red_link {
  color: red;
}

.red_link:hover {
  color: red;
}

#adverts_table tr:last-child {
  border-bottom: 1px solid white;
}

#adverts_table tr:last-child:hover {
  border-bottom: 2px solid rgb(155,200,224);
}

#messages_table {
  width: 100%;
  border-collapse: collapse;
}

#index_help_section .panel {
  background-color: white;
}

.reveal-modal-bg{
  position : fixed;
}

@-moz-document url-prefix() {
  .reveal-modal{
    position : fixed;
  }
}

.wizard_link .panel:hover {
  border: 1px solid rgb(84, 151, 86);
}

.dz-image img {
  width: 120px;
  height: 120px;
}

.bold {
  font-weight: bold;
}

.white_background {
  background-color: white;
}

.social-share-button a {
  color: rgba(225,225,225,0) !important;
}

a[class*="social-share-button-facebook"] {
	display: inline-block;
  width: 32px;
  height: 32px;
	background: asset_url('facebook.png') no-repeat;
}

a[class*="social-share-button-twitter"] {
	display: inline-block;
  width: 32px;
  height: 32px;
	background: asset_url('twitter.png') no-repeat;
}

a[class*="social-share-button-pinterest"] {
	display: inline-block;
  width: 32px;
  height: 32px;
	background: asset_url('pinterest.png') no-repeat;
}

a[class*="social-share-button-google_plus"] {
	display: inline-block;
  width: 32px;
  height: 32px;
	background: asset_url('google_plus.png') no-repeat;
}

.blog {
  font-family: "Kepler Std";
  font-size: 110%;
  line-height: 1.8em;
}

.blog_content h2, .new-post h1 {
  color: rgb(46,121,168);
}

.blog_content ul li {
  font-family: "Kepler Std";
  font-size: 110%;
  line-height: 1.8em;
}

.blog_content p {
  font-family: "Kepler Std";
  font-size: 100%;
  line-height: 1.8em;
  color: black;
}

.new-post p {
  font-family: "Kepler Std";
  font-size: 100%;
  line-height: 1.8em;
  color: black;
}

.blog_header {
  width: 100%;
  background-color: rgb(38,38,38);
  padding: 20px 0 20px 0;
}

.blog_header h1 {
  text-align: center;
  color: rgb(191,192,191);
}

.wizard_menu {
  background-color: white;
}

.wizard_menu h4 {
  color: rgb(185, 185, 185);
}

.wizard_menu_active {
  background-color: white;
  border: 1px solid rgb(84, 151, 86);
}

.wizard_menu_active h4 {
  color: rgb(84, 151, 86);
}

#adverts_container {
  margin: 0;
  padding: 0;
  max-width:100%;
}

#map_container {
  position: fixed;
  margin: 0;
  padding: 0;
}

.top-bar {
  -moz-box-shadow: 0 1px rgb(191,192,191);
  -webkit-box-shadow: 0 1px rgb(191,192,191);
  box-shadow: 0 1px rgb(191,192,191);
}

.blog_category_menu {
  color: rgb(111,111,111);
  font-weight: bold;
}

.blog_category_menu:hover {
  color: rgb(111,111,111);
  border-bottom: 4px solid rgb(57,141,183);
}

.active_category {
  border-bottom: 4px solid rgb(57,141,183);
}