<p>Bonjour <%= @resource.username %>!</p>

<p>Vous avez effectué une demande de réinitialisation de mot de passe de votre compte <%= link_to "Sharing Space", root_url %>.</p>

<p>Pour changer de mot de passe, rendez-vous à l'adresse suivante (copiez-collez l'adresse dans la barre d'adresse de votre navigateur si le lien n'est pas directement cliquable) :</p>

<p><%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande vous pouvez ignorer cet email, votre mot de passe restera inchangé.</p>

<p>Meilleures salutations.<br/><%= link_to "Sharing Space", root_url %></p>