<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé un changement de mot de passe (mot de passe oublié).</p>

<p>Pour changer de mot de passe, rendez-vous à l'adresse suivante (copiez-collez l'adresse dans la barre d'adresse de votre navigateur si le lien n'est pas directement cliquable) :</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande vous pouvez ignorer cet email, votre mot de passe restera inchangé.</p>

<p>À bientôt sur Sharing Space.</p>
