<p>Bonjour <%= @resource.username %>!</p>

<p>Votre compte a été bloqué suite à un trop grand nombre de tentatives de connexion infructueuses.</p>

<p>Vous pouvez débloquer votre compte en cliquant sur le lien suivant (copiez-collez l'adresse dans la barre d'adresse de votre navigateur si le lien n'est pas directement cliquable) :</p>

<p><%= link_to unlock_url(@resource, unlock_token: @token), unlock_url(@resource, unlock_token: @token) %></p>

<p>Meilleures salutations.<br/><%= link_to "Toque et Stocke", root_url %></p>
