%section#main-content
	.row.body.sign-in
		.large-10.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h2 Merci pour votre don!
						%br
						%h5 Nous nous efforçons de vous offrir un service de qualité et allons pouvoir continuer à travailler dans ce sens grâce à vous!
						%br
						%h5
							Encore un grand merci de toute l'équipe de
							%strong Toque et Stocke