%script{ src: "https://checkout.stripe.com/checkout.js" }

%section#main-content
	.row.body.sign-in
		.large-10.small-12.columns.large-centered.small-centered
			.create-account
				.row.sign-up
					.large-12.small-12.columns
						%h1 Faire un don
						%hr
						%h5
							%strong Sharing Space 
							met en relation les personnes ayant de la place inoccupée chez eux et ceux ayant besoin d’un peu plus d’espace pour stocker leurs affaires.
						%h5
							Ce service est entièrement 
							%strong gratuit 
							pour les utilisateurs mais a tout de même un coût...
						%br
						%h5
							En nous soutenant, vous nous aidez à poursuivre le développement du site et à subvenir à nos besoins!
						%h5
							Merci à toutes celles et ceux qui, grâce à leurs dons, permettent de faire vivre le site!
						%br
						%br
				.row
					.large-6.medium-6.small-12.columns
						= form_tag charges_path, id: "chargeForm" do
							= hidden_field_tag 'stripeToken'
							= hidden_field_tag 'stripeEmail'
							%label Choisissez le montant de votre don en CHF
							= text_field_tag "amount", nil, id: "custom-donation-amount", type: "number", value: "50.00", min: "0", step: "10.00"

							%button#customButton.button.radius.expand Faire un don

- content_for :scripts do
	:javascript
		var handler = StripeCheckout.configure({
			key: 'sk_test_klYc0uPTKRpd0fvXFlQEUf9O',
			image: '/square-image.png',
			token: function(token) {
				document.getElementById("stripeToken").value = token.id;                              
				document.getElementById("stripeEmail").value = token.email;
				document.getElementById("chargeForm").submit();
			}
		});
		document.getElementById('customButton').addEventListener('click', function(e) {
			var amount = $("#custom-donation-amount").val() * 100;
			handler.open({
				name: 'Sharing Space',
				description: "Coordonnées bancaires",
				amount: amount,
				currency: 'chf',
				allowRememberMe: false
			});
			e.preventDefault();
		});